body.preludered {
    background: url('../img/bg-pr.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*fotorama override defaults*/
.fotorama__stage, .fotorama__stage * {transform: none !important; -webkit-transform: none !important}



img[usemap], map area{
    outline: none;
}

map area {
    cursor: pointer
}

.ht {
    text-shadow: -2px 1px 0px rgba(21, 170, 172, 1);
}

.pr-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 50px 0 15px;
}
 .pr-title a, .pr-title > span  {
    color: #c5c5c5;
    text-shadow:-2px 1.4px 0px rgba(0, 0, 0, 0.42);
    padding: 0 1px
 }
.pr-menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    clear: both;
    font-style: normal;
    padding-top: 120px;
    line-height: 22px;
}
.pr-menu a, .pr-menu > span{
    color: #c5c5c5;
    text-shadow:-2px 1.4px 0px rgba(0, 0, 0, 0.42);
    padding: 0 5px
}
.pr-menu a:hover, .pr-title a:hover {
    text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1)
}
.pr-title_active {
    text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important;
}

.pagePreludered {
    max-width:1000px;
    margin:0 auto;
    text-align: center;
    padding: 3em;
    position: relative;
    display: block
}

    .columnLeft {
        position:relative;
        text-align: center;
        display: inline-block;
        width: 48%;
        vertical-align: top;
        float: left
    }
        .nav {
            padding:40px 0;
            width:100%;
            max-width: 400px;
            text-align:center;
            font-style:normal;
            color:#fff;
            margin: 0 auto
        }
            .nav a {
                color:#fff;
                padding:0 5px;
            }
            .nav a:hover {
                color:#ca1520;
            }
            .albumCover img.cover {
                -webkit-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
                -moz-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
                box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
                width: 400px !important;
                height: 400px !important;
            }

    .columnRight {
        display: inline-block;
        text-align:center;
        width: 48%;
        position: relative;
        vertical-align: top
    }
        .playerDirections {
            text-align:center;
            display: block;
            font-family: 'Open Sans', sans-serif;
            font-style: italic;
            color: #c5c5c5;
            text-shadow:-2px 1.4px 0px rgba(0, 0, 0, 0.42);
            font-size: 14px;
            padding: 50px 0 15px
        }
        .playerWrap {
            margin:0 auto;
            background:url('../img/player-bg.jpg');
            width:400px;
            height:400px;
            text-align:center;
            position:relative;
            -webkit-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
            -moz-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
            box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
        }
            .playerCenterCircle {
                position:absolute;
                display:block;
                height:70px;
                width:69px;
                top:169px;
                left:165px;
                z-index:20;
                background:url('../img/player-center-circle.png');
            }
            .playerCenterCircle:hover {
                background:url('../img/player-center-circle-hover.png');
            }

            img.playerClip {
                position:absolute;
                margin:5px 0 0 150px;
                filter: drop-shadow(-3px 9px 1px rgba(0,0,0,0.30));
            }
            #playerCircle {
                margin:41px 0 0 0;
            }


/*Fotorama Edits*/

.fotorama {
    overflow:inherit !important;
}

.libretto .fotorama__stage__shaft {filter: drop-shadow(-20px 20px 3px rgba(0,0,0,0.30))}
    .libretto .fotorama__stage .fotorama__img, .libretto .fotorama__stage__shaft {margin: 0 auto !important}
    .libretto .fotorama__wrap.fotorama__wrap--css3 {margin: 0 auto}

.credits .fotorama__stage__shaft, .notes .fotorama__stage__shaft, .whatsinpreludered .fotorama__stage__shaft{
    /* box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.28);*/
    filter: drop-shadow(-20px 20px 3px rgba(0,0,0,0.30));
}
.musicVideos .fotorama__stage__shaft {
    filter: drop-shadow(-20px 20px 3px rgba(0,0,0,0.30));
}
    .musicVideos .fotorama__arr--prev {left: -5px !important}
    .musicVideos .fotorama__arr--next {right: -5px !important}
    .musicVideos .fotorama__fullscreen-icon {top: -3px !important;right: 32px !important}
    .musicVideos .fotorama__video-close {top: -3px !important;right: 30px !important}


.fotorama__arr--prev {left: -8px !important}
.fotorama__arr--next {right: -2px !important}


@media screen and (min-width: 1200px){
    .musicVideos {width: 610px;position: relative;left: -130px;height: 430px}
    .musicVideos .fotorama__stage .fotorama__img{width: 535px !important;height: 400px !important;margin: 0 20px !important}
    .musicVideos .fotorama__stage .fotorama__video {top: 0;width: 535px !important;height: 400px !important;margin: 0 auto !important}
}
@media screen and (max-width: 1199px){
.musicVideos {width: 100%;position: relative;height: auto;}
    .musicVideos .fotorama__stage .fotorama__img{width: 400px !important;height: 300px !important;margin: 0 20px !important}
    .musicVideos .fotorama__stage .fotorama__video {top: 0;width: 400px !important;height: 300px !important;margin: 0 auto !important}
}
@media screen and (min-width: 1000px) and (max-width: 1199px){
    /*.libretto .fotorama__stage {width: 473px !important;height: 620px !important}
        .libretto .fotorama__stage .fotorama__img {width: 435px !important}
        .libretto .fotorama__fullscreen-icon {top: 18px!important;right: 42px !important}*/

   /* .musicVideos {width: 610px;position: relative;left: -130px;height: 430px}
    .musicVideos .fotorama__stage .fotorama__img{width: 535px !important;height: 400px !important;margin: 0 20px !important}
    .musicVideos .fotorama__stage .fotorama__video {top: 0;width: 535px !important;height: 400px !important;margin: 0 auto !important}*/

    

}
.credits .fotorama__fullscreen-icon, .notes .fotorama__fullscreen-icon, .whatsinpreludered .fotorama__fullscreen-icon{top: -4px !important;right: 32px !important}
.credits .fotorama__stage .fotorama__img, .notes .fotorama__stage .fotorama__img, .whatsinpreludered .fotorama__stage .fotorama__img {width: 400px !important;height: 400px !important;margin: 0 20px 0 12px !important}
   
@media screen and (min-width: 1000px){
    .albumCover {height: 425px !important}

    .libretto .fotorama__stage {width: 473px !important;height: 620px !important}
        .libretto .fotorama__stage .fotorama__img {width: 435px !important}
        .libretto .fotorama__fullscreen-icon {top: 18px!important;right: 42px !important}

}
@media screen and (max-width: 999px){
    .columnLeft, .columnRight {
        width: 100%;
        display: block;
    }
    .columnLeft {
        float: none
    }
    .columnLeftPage {
        max-width: 480px;
        margin: 0 auto
    }
    .pr-menu {
        padding-top: 30px;
        max-width: 400px;
        margin: 0 auto
    }
    .fotorama .fotorama__wrap {max-width: 480px !important}

    .credits .fotorama__fullscreen-icon, .notes .fotorama__fullscreen-icon, .whatsinpreludered .fotorama__fullscreen-icon {
        top: -4px !important;
        right: 36px !important;
    }
    .libretto .fotorama__stage .fotorama__img {width: 375px !important;height: 475px !important}
    .libretto .fotorama__stage {width: 475px !important;height: 625px !important}
}
@media screen and (max-width: 799px){
    nav.main ul {
        font-size: 13px
    }
    nav.main > ul > li {
        padding-right: 12px
    }
    .playerDirections {padding:  25px 0 15px}
}
@media screen and (max-width: 599px){

}

@media screen and (max-width: 1024px) {
    .pagePreludered {
        padding: 2em 1em
    }
    nav.main > ul {
        padding: 1em;
        display: block
    }

    .fotorama__wrap {
        margin: 0 auto;
    }

    div.musicVideos {
       padding-top:30px;
       width:100%;
       left:0;
       height: auto
    }

    div.notes .fotorama__stage__frame img, div.credits .fotorama__stage__frame img {
        width: 100% !important;
        height: auto;
        max-width: 400px !important;
        max-height: 400px !important
    }
    .libretto .fotorama__stage__shaft {
        width: inherit !important;
    }
}

@media screen and (min-width: 431px) and (max-width: 986px){
    /*div.libretto .fotorama__stage__frame img{
        width: 430px !important;
        height: auto !important
    }
    .libretto .fotorama__stage {
        width: 550px !important;
        height: 570px !important;
        margin: 0 auto !important
    }*/
}
@media screen and (min-width: 535px)and (max-width: 986px){


     /* .musicVideos .fotorama__stage .fotorama__img{
        width: 535px !important;
        height: 400px !important;
        margin: 0 20px !important
    }
    .musicVideos .fotorama__stage .fotorama__video {
        top: 0;
        width: 535px !important;
        height: 400px !important;
        margin: 0 auto !important
    }*/
}
@media screen and (max-width: 534px){


   /* .musicVideos .fotorama__stage .fotorama__img{
        width: 100% !important;
        height: auto !important;
    }
    .musicVideos .fotorama__stage .fotorama__video {
        top: 0;
        width: 100% !important;
        height: auto !important;
        margin: 0 auto !important
    }
    .musicVideos .fotorama__stage {
        width: 100% !important;
        height: 400px !important
    }*/
}
@media screen and (max-width: 430px){


    /*div.libretto .fotorama__stage__frame img{
        width: 100% !important;
        height: auto !important;
        margin: 0 auto !important
    }
    .libretto .fotorama__stage {
        width: 100% !important;
        height: 480px !important
    }*/
}
