body.preludered {
    background: url('../img/bg-pr.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img[usemap], map area{
    outline: none;
}

.pagePreludered {
    max-width:980px;
    margin:0 auto;
}

    .columnLeft {
        float:left;
        width:473px;
        position:relative;
        margin: 0 auto;
        text-align: center;
    }
        .nav {
            padding:40px 0;
            width:100%;
            max-width: 400px;
            text-align:center;
            font-style:normal;
            color:#fff;
            margin: 0 auto
        }
            .nav a {
                color:#fff;
                padding:0 5px;
            }

            .nav a:hover {
                color:#ca1520;
            }

            .albumCover img.cover {
                -webkit-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
                -moz-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
                box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
                width: 400px !important;
                height: 400px !important;
            }

            .libretto {
                padding-top:89px;
            }
            .notes, .credits, .albumCover, .musicVideos, .whatsinpreludered   {
                padding:142px 0 0;
            }
            .musicVideos {
                width:585px;
                position:relative;
                left:-62px;
            }

    .columnRight {
        float:right;
        width:444px;
        text-align:center;
        margin: 0 auto
    }
        .playerDirections {
            display:inline-block;
            padding:94px 0 0 0;
            height:48px;
            width:100%;
            text-align:center;
            color:#fff;
        }
        .playerWrap {
            margin:0 auto;
            background:url('../img/player-bg.jpg');
            width:400px;
            height:400px;
            text-align:center;
            position:relative;
            -webkit-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
            -moz-box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
            box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.30);
        }
            .playerCenterCircle {
                position:absolute;
                display:block;
                height:70px;
                width:69px;
                top:169px;
                left:165px;
                z-index:20;
                background:url('../img/player-center-circle.png');
            }
            .playerCenterCircle:hover {
                background:url('../img/player-center-circle-hover.png');
            }

            img.playerClip {
                position:absolute;
                margin:5px 0 0 151px;
            }
            #playerCircle {
                margin:41px 0 0 0;
            }


/*Fotorama Edits*/

.fotorama {
    overflow:inherit !important;
}

.libretto .fotorama__stage__shaft {filter: drop-shadow(-20px 20px 3px rgba(0,0,0,0.30))}
    .libretto .fotorama__stage .fotorama__img, .libretto .fotorama__stage__shaft {margin: 0 auto !important}
    .libretto .fotorama__wrap.fotorama__wrap--css3 {margin: 0 auto}

.credits .fotorama__stage__shaft, .notes .fotorama__stage__shaft, .whatsinpreludered .fotorama__stage__shaft{
    /* box-shadow: -20px 20px 5px 0px rgba(0,0,0,0.28);*/
    filter: drop-shadow(-20px 20px 3px rgba(0,0,0,0.30));
}
.musicVideos .fotorama__stage__shaft {
    filter: drop-shadow(-20px 20px 3px rgba(0,0,0,0.30));
}
    .musicVideos .fotorama__arr--prev {left: 5px !important}
    .musicVideos .fotorama__arr--next {right: 5px !important}


.fotorama__arr--prev {left: -8px !important}
.fotorama__arr--next {right: -2px !important}

@media screen and (min-width: 987px) {
    .libretto .fotorama__stage {width: 473px !important;height: 598px !important}
        .libretto .fotorama__stage .fotorama__img {width: 435px !important}
        .libretto .fotorama__fullscreen-icon {top: 18px!important;right: 42px !important}

    .credits .fotorama__stage .fotorama__img, .notes .fotorama__stage .fotorama__img, .whatsinpreludered .fotorama__stage .fotorama__img {width: 400px !important;height: 400px !important;margin: 0 20px 0 12px !important}
        .credits .fotorama__fullscreen-icon, .notes .fotorama__fullscreen-icon, .whatsinpreludered .fotorama__fullscreen-icon{top: -4px !important;right: 32px !important}

    .musicVideos .fotorama__stage .fotorama__img {width: 535px !important;height: 400px !important;margin: 0 20px 0 12px !important}
}
@media screen and (max-width: 986px) {
    .columnLeft {
        float:none;
        width:100%;
        text-align:center;
    }
        .albumCover {
            padding-top:30px;
        }
        .nav {
            margin:0 auto;
        }

    .columnRight {
        float:none;
        width:100%;
        text-align:center;
    }
        .playerDirections {
            padding-top:10px;
        }
        .playerWrap {
            margin:0 auto;
        }

    .fotorama__wrap {
        margin: 0 auto;
    }

    div.musicVideos {
       padding-top:30px;
       width:100%;
       left:0;
    }

    div.notes, div.credits, div.libretto, .div.whatsinpreludered {
        padding-top:30px;
    }

}
