{% extends "templates/common/main.html" %}
{% load static %}


{% block content %}
<div class="pageConnect">

    <p>
        <h2>Music</h2>
        <a href="#">iTunes</a><br>
        <a href="#">Spotify</a><br>
        <a href="#">Tidal</a><br>
        <a href="#">Soundcloud</a>
    </p>

    <p>
        <h2>Social</h2>
        <a href="#">Facebook</a><br>
        <a href="#">Twitter</a><br>
        <a href="#">Instagram</a><br>
        <a href="#">Youtube</a>
    </p>

    <p>
        <h2>Newsletter Sign Up</h2>
    </p>

    <p>
        <h2>Management</h2>
        Rebecca Sansome, Blone Artist Management<br>
        <a href="mailto:rebecca@blondeam.com">rebecca@blondeam.com</a>
    </p>

    <p>
        <h2>Site Credits</h2>
        <a href="http://www.imphatic.com" target="_blank">Built By Garrett Davis</a>
    </p>
</div>
{% endblock content %}
