{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Celeste Krishna</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="manifest" href="site.webmanifest">
        <link rel="icon" type="image/png" href="{% static 'icon.png' %}" />
        <!-- Place favicon.ico in the root directory -->

        <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,600" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        
        <link rel="stylesheet" href="{% static 'preludered/pr-main.css' %}">
        <link  href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    </head>

    <body class="preludered">
        <nav class="main clearfix">
            <ul>
                <li><a href="/">Celeste Krishna</a></li>
                <li class="menu">
                    <a href="{% url 'home:works' %}" class="ht">Works: Prelude Red</a>
                        <ul class="menu">
                            <li><a href="{% url 'preludered:index' %}">Prelude Red</a></li>
                            <li><a href="https://celestekrishna.bandcamp.com/album/ft-celeste-mixtape" target="_blank">Mixtape</a></li>
                            <li><a href="https://open.spotify.com/artist/2eR3cOK80CasFmUgfYLjar" target="_blank">Monarchs</a></li>
                        </ul>
                </li>
                <li><a href="{% url 'home:live' %}">Live</a></li>
                <li><a href="{% url 'home:connect' %}">Connect</a></li>
            </ul>
        </nav>

        <div class="pagePreludered">
          
            <div class="columnRight">
                <div class="playerDirections">Click circle to play<br />Click song to select track
                </div>
                <div class="playerWrap">
                    <a href="javascript: player.pause();void(0);" class="playerCenterCircle"></a> <!-- void added to fix ff bug function returning to false -->
                    <img class="playerClip" src="{% static 'img/player-clip.png' %}">
                    <img id="playerCircle" src="{% static 'img/player-circle.png' %}" width="321" height="328" usemap="#Map"/>
                    <map name="Map" id="playerMap">
                      <area shape="poly" coords="142,26,158,25,161,115,147,116,146,116" href="javascript: player.play(1);" title="Be the Love">
                      <area shape="poly" coords="210,31,210,31,226,38,184,119,169,118" href="javascript: player.play(2);" title="Why I write">
                      <area shape="poly" coords="249,83,259,96,210,132,200,120" href="javascript: player.play(3);" title="Classic">
                      <area shape="poly" coords="294,129,297,144,213,157,211,143" href="javascript: player.play(4);" title="Cellphone">
                      <area shape="poly" coords="258,186,249,199,215,186,227,174" href="javascript: player.play(5);" title="Amy">
                      <area shape="poly" coords="237,251,249,240,210,198,198,207" href="javascript: player.play(6);" title="2 Ways">
                      <area shape="poly" coords="195,299,211,294,189,218,176,228" href="javascript: player.play(7);" title="Whiplash">
                      <area shape="poly" coords="110,298,144,311,161,231,144,227,128,235" href="javascript: player.play(8);" title="Not your Boyfriend">
                      <area shape="poly" coords="76,291,136,216,119,210,97,235,86,227,58,257,68,269,66,277" href="javascript: player.play(9);" title="Very Funny Movie">
                      <area shape="poly" coords="30,217,36,233,115,198,110,184" href="javascript: player.play(10);" title="More Lives">
                      <area shape="poly" coords="19,168,107,175,108,159,70,155,70,141,35,135,35,152,18,152" href="javascript: player.play(11);" title="Call up the Devil">
                      <area shape="poly" coords="47,110,97,141,106,128,56,97" href="javascript: player.play(12);" title="Sail Me">
                      <area shape="poly" coords="125,131,77,47,91,38,98,42,111,37,138,92,127,99,138,122" href="javascript: player.play(13);" title="Subway feat. François">
                    </map>               
                </div>
            </div>

            <div class="columnLeft">
                <div class="pr-title mar">
                    <a href="{% url 'preludered:index' %}" class="nav-prelude-red co">Cover</a>
                      <span>&bull;</span>
                    <a href="#notes" class="nav-notes no hashes">Notes</a>
                      <br />
                    <a href="#libretto" class="nav-libretto lb hashes">Libretto</a>
                      <span>&bull;</span>
                    <a href="#credits" class="nav-credits cr hashes">Credits</a>
                </div>

                <div class="columnLeftPage">
                {% include "preludered/nav-prelude-red.html" %} 
                </div>
                
            </div>

            

            <div class="pr-menu">
              <a href="{% url 'preludered:index' %}" class="nav-prelude-red">Prelude Red</a>
              <span>&bull;</span>
              <a href="#bts" class="nav-bts bt hashes">BTS</a>
              <span>&bull;</span>
              <a href="#whatsinpreludered" class="nav-whatsinpreludered wpr hashes">What's in Prelude Red?</a>
              <span>&bull;</span>
              <a href="#music-videos" class="nav-music-videos mv hashes">Music Videos</a>
              <span>&bull;</span>
              <a href="https://bit.ly/preluderedalbum" class="nav-signed-album" target="_blank">Signed Album</a>
              <span>&bull;</span>
              <a href="https://bit.ly/preludereddigital" class="nav-digital-copy" target="_blank">Digital Copy</a>
            </div>
            
        </div>

        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
        </script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')
        </script>

                
        <script src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
        <script src="/static/preludered/howler.js"></script>
        <script src="/static/preludered/pr-player.js"></script>


        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <script type='text/javascript'>
          $(document).ready(function(){

            // url hashes
             $('.nav-prelude-red').click(function(e) {
                e.preventDefault();
                history.replaceState({}, document.title, ".");
             });

            $(".hashes").click(function(e) {
               window.location.hash = $(this).attr("href");
                e.preventDefault();
             });

              player.init();
              nav.init();

              track = Math.floor((Math.random() * player.totalTracks) + 1);
                  player.positionCircle(track);

              {% if auto_play == 1 %}
                  player.play(track);
              {% else %}
                  player.positionCircle(track);
              {% endif %}

              // Touch events on image maps
              function isMobile() {
                try{
                  document.createEvent('TouchEvent');
                  return true;
                }
                catch(e){
                  return false;
                }
              }

              // Conditional statement on touch event image maps
              if (isMobile()){
                $('map').after('<div class="map-touch-fix" style="position:absolute;top:0;left:0;width:100%;height:100%;">');
                $('.map-touch-fix').click(function(event){
                  $(this).hide();
                  $(document.elementFromPoint(event.clientX,event.clientY)).trigger('click');
                  $(this).show();
                });
              }

          });
        </script>
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
                <!--
                <script>
                    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
                    ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
                </script>
                <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        -->
    </body>
</html>
