<div class="pr-title">
    <span>Music Videos</span>
</div>
<div class="musicVideos">
    <div class="fotorama"
             data-allowfullscreen="true"
             data-nav="false"
             data-width="610"
             data-maxheight="430"
             data-shuffle="true"
             data-arrows="true"
             data-loop="true">
             {% for video in music_videos %}
                <a href="{{ video.href }}" data-caption="{{ video.title }}"></a>
             {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.fotorama').on('fotorama:loadvideo', function (e, fotorama, extra) 
            {
                if(player.playlist[player.currentTrack].playing())
                {
                    player.pause();
                }
                
        }).fotorama();
    });
</script>
<style type="text/css">
    .mv {
    text-shadow: -2px 1.4px 0px rgba(190, 24, 44, 1) !important
}

.mar {
    display: none !important
}

div.fotorama__caption {
    top: 0;
    width: 100%;
    text-align: center;
    height: 40px
}

div.fotorama__caption__wrap {
    background: none;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    padding: 0;
    font-size: 15px;
    line-height: 40px
}

@media screen and (min-width: 1000px) {
    div.fotorama__caption__wrap {
        font-size: 15px;
        line-height: 50px
    }
    div.fotorama__caption {
        height: 50px
    }
}

@media screen and (max-width: 1199px) {
    .columnLeft,
    .columnRight {
        width: 100%;
        display: block;
    }
    .pr-menu {
        padding-top: 0;
        margin: -10px auto 0;
        max-width: 400px
    }
    .columnLeft {
        float: none
    }
    .columnLeftPage {
        max-width: 480px;
        margin: 0 auto
    }
    .fotorama .fotorama__wrap {
        max-width: 480px !important
    }
}

@media screen and (min-width: 1200px) {
    .pr-title {
        padding: 45px 0 15px;
        margin-left: -120px
    }
    .playerDirections {
        padding-top: 25px
    }
    .pr-menu {
        padding-top: 120px;
        padding-right: 110px
    }
}
</style>
