{% load static %}

<div class="libretto">
    <div class="fotorama"
         data-allowfullscreen="true"
         data-nav="false"
         data-loop="true"
         data-width="100%"
         data-ratio="800/600"
         data-startindex="{{ start_track }}">
        {% for track in music %}
        <img src="{% static track.image %}">
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
var fotorama = $('.fotorama').fotorama();
var fotoramaConf = fotorama.data('fotorama');

$('#playerMap area').on('click', function(e){
    switch ($(this).attr('id')){
        case 'player0' :
            fotoramaConf.show(0);
            break;
        case 'player1' :
            fotoramaConf.show(1);
            break;
        case 'player2' :
            fotoramaConf.show(2);
            break;
        case 'player3' :
            fotoramaConf.show(3);
            break;
        case 'player4' :
            fotoramaConf.show(4);
            break;
        case 'player5' :
            fotoramaConf.show(5);
            break;
        case 'player6' :
            fotoramaConf.show(6);
            break;
        case 'player7' :
            fotoramaConf.show(7);
            break;
        case 'player8' :
            fotoramaConf.show(8);
            break;
        case 'player9' :
            fotoramaConf.show(8);
            break;
        case 'player10' :
            fotoramaConf.show(9);
            break;
        case 'player11' :
            fotoramaConf.show(10);
            break;
        case 'player12' :
            fotoramaConf.show(11);
            break;
    }
});

</script>
<style type="text/css">
    .pr-menu a:first-child {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
    .lb {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
    @media screen and (min-width: 1000px) { 
        .pr-menu {padding-top: 0}
    }
    @media screen and (max-width: 999px){
        .pr-menu {
        padding-top: 0;
        }
    }

</style>

