<div class="pr-title">
    <span>Music Videos</span>
</div>
<div class="musicVideos">
    <div class="fotorama"
             data-allowfullscreen="true"
             data-nav="false"
             data-width="610"
             data-maxheight="430"
             data-shuffle="true"
             data-arrows="true"
             data-loop="true">
             {% for video in music_videos %}
                <a href="{{ video.href }}" data-caption="{{ video.title }}"></a>
             {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.fotorama').on('fotorama:loadvideo', function (e, fotorama, extra) 
            {
                if(player.playlist[player.currentTrack].playing())
                {
                    player.pause();
                }
                
        }).fotorama();
    });
</script>
<style type="text/css">
    .mv {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}

    div.fotorama__caption {
        top: 0;
        width: 100%;
        text-align: center;
        height: 40px
    }
    div.fotorama__caption__wrap {
        background:none;
        color:#fff;
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        padding: 0;
        font-size: 15px;
        line-height: 40px
    }
    .nav {
        padding-top: 10px;
    }
    @media screen and (min-width: 987px) { 
        .nav {margin-left: 6px}
        div.fotorama__caption__wrap {font-size: 15px;line-height: 50px}
        div.fotorama__caption {height:50px}
    }

</style>
