{% load static %}
<div class="pr-title">
    <span>What's in Prelude Red?</span>
</div>
<div class="whats-in-prelude-red">
    <div class="fotorama"
         data-maxheight="425"
         data-allowfullscreen="true"
         data-nav="false"
         data-loop="true">
        {% for whatsinprelude in whatsinpreludered %}
        <img src="{% static whatsinprelude.image %}">
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.fotorama').fotorama();
</script>
<style type="text/css">
    .wpr {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
    .mar {display: none !important}
    @media screen and (min-width: 1200px) {
        .pr-title {padding-top: 45px}
    }
</style>