{% load static %}
<div class="pr-title">
    <a href="{% url 'preludered:index' %}" class="nav-prelude-red">Cover</a>
    <span>&bull;</span>
    <a href="#notes" class="nav-notes">Notes</a>
    <br />
    <a href="#libretto" class="nav-libretto">Libretto</a>
    <span>&bull;</span>
    <span class="pr-title_active">Credits</span>
</div>

<div class="credits">
    <div class="fotorama"
         data-maxheight="425"
         data-allowfullscreen="true"
         data-nav="false"
         data-loop="true">
        {% for credit in credits %}
        <img src="{% static credit.image %}">
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.fotorama').fotorama();
</script>
<style type="text/css">
    .pr-menu a:first-child {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
</style>