{% load static %}

<div class="credits">
    <div class="fotorama"
         data-maxheight="425"
         data-allowfullscreen="true"
         data-nav="false"
         data-loop="true">
        {% for credit in credits %}
        <img src="{% static credit.image %}">
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.fotorama').fotorama();
</script>
<style type="text/css">
    .pr-menu a:first-child {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
    .cr {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
</style>