{% load static %}
<div class="pr-title">
	<span class="pr-title_active">Cover</span>
    <span>&bull;</span>
    <a href="#notes" class="nav-notes">Notes</a>
    <br />
    <a href="#libretto" class="nav-libretto">Libretto</a>
    <span>&bull;</span>
    <a href="#credits" class="nav-credits">Credits</a>
</div>

<div class="albumCover">
    <img class="cover" src="{% static 'img/pr-album-cover.jpg' %}">
</div>
<style type="text/css">
    .pr-menu a:first-child {text-shadow:-2px 1.4px 0px rgba(190, 24, 44, 1) !important}
</style>